# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.idea

# dependencies
/node_modules
/src/mobile-hub
/src/@mobile-hub
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

schema-config.json
install-state.gz

src/assets/assets-media/lib
src/assets/assets-png-sprite/lib
src/assets/assets-svg-sprite/lib
